<!DOCTYPE html>
<html>
  <head>
    <title>Mittens</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Mittens</h1>
    <p>Welcome to Mittens</p>
  </body>
</html>
